<h1>What's Your Status?</h1>

<div class="container">
<table class="table table-hover table-boardered">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Distance</th>
          <th>Actions</th>
        </tr>
      </thead>


  <tbody>
    <% @statis.each do |stati| %>
      <tr class="success">
        <td><%= stati.description %></td>
        <td><%= stati.user.email if stati.user %></td>
        <td> </td>
        <td><%= link_to 'Show', stati %> 
          <% if stati.user == current_user %>
          <%= link_to 'Edit', edit_stati_path(stati) %> <%= link_to 'Destroy', stati, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'Update Status', new_stati_path %>
<% end %>
